<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h2 class="jasmine-banner">Update player</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form (ngSubmit)="update(id)" [formGroup]="playerForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="name" [value]="player.name">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail2" class="form-label">Champ</label>
          <input type="text" class="form-control" id="exampleInputEmail2" formControlName="champ"
                 [value]="player.champ">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">KDA</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="champ"
                 [value]="player.kda">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Description</label>
          <input type="text" class="form-control" id="exampleInputPassword2" formControlName="des" [value]="player.des">
        </div>
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary m-2">Cập nhật</button>
          <a routerLink="/players" class="btn btn-success m-3">Thoát</a>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
